/**
 * Scalawave theme for reveal.js.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Play);

$mainFont: 'Play', sans-serif;
$mainFontSize: 40px;
$headingFont: 'Michroma', Impact, sans-serif;

$heading1Size: 1.70em;
$heading2Size: 1.50em;
$heading3Size: 1.10em;
$heading4Size: 1.00em;

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

h1 { word-spacing: 25px; }
h2 { word-spacing: 20px; }
h3 { word-spacing: 15px; }
h4 { word-spacing: 12px; }

// Solarized colors
$bg:        #cedde2;
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $bg;
$linkColor: $base02;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
